.genre-show {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
    padding: 0 5rem 4rem;
    justify-content: center;
}

.genre-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.no-genre {
    text-align: center;
    justify-content: center;
}

.genre-container {
    text-align: center;
}

@media (max-width: 1920px) {
    .genre-show {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1760px) {
    .genre-show {
        grid-template-columns: repeat(5, 1fr);
        padding: 0 1rem;
    }
}

@media (max-width: 1400px) {
    .genre-show {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 1rem;
    }

}

@media (max-width: 1024px) {
    .genre-show {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 1rem;
    }

}

@media (max-width: 868px) {
    .genre-show {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
    }

}

@media (max-width: 576px) {
    .genre-show {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 1rem;
    }
}

.loading,
.error-message {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2rem;
}