.media-index-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.media-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem auto;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.media-filter-container label {
  font-weight: bold;
}

.media-filter-container select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.media-index-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  padding: 0 5rem 4rem;
  justify-content: center;
}

@media (max-width: 2100px) {
  .media-index-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1800px) {
  .media-index-list {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 1rem;
  }

}

@media (max-width: 1488px) {
  .media-index-list {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1rem;
  }

}

@media (max-width: 1173px) {
  .media-index-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem;
  }

}

@media (max-width: 860px) {
  .media-index-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }
}

@media (max-width: 540px) {
  .media-index-list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;
  }
}

.loading,
.error-message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}
