.home-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.home-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.media-section {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
}

@media (max-width: 1800px) {
  .media-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1400px) {
  .media-grid {
      grid-template-columns: 1fr
  }
  .home-title {
    font-size: 1.5rem;
  }

  .media-section {
    margin: 0.5rem;
  }
}